<a href="https://colab.research.google.com/github/sambhajizambre/python-basic/blob/main/10_Python_Basics_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

֍ If a group of statements is repeatedly required then it is not recommended to write
these statements everytime seperately.We have to define these statements as a single
unit and we can call that unit any number of times based on our requirement without
rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:
1. Built-in function
2. User defined function

1. Built in Functions:

  The functions which are coming along with Python software automatically, are called
 built in functions or pre defined functions.

 e.g. id(), type(), input(),eval()

 2. User defined function:

  The functions which are developed by programmer explicitly according to business
 requirements, are called user defined functions.

 **Syntax:**

 def function_name(parameters):

     ''' doc string'''

     python code

     return value

In [ ]:
def wish():
  print("Hello Good Morning")
  wish()

# Parameters
Parameters are inputs to the function. If a function contains parameters, then at the time
of calling,compulsory we should provide values otherwise,otherwise we will get error.

Eg: Write a function to take name of the student as input and print wish message by
name.

In [ ]:
def wish(name):
  print("Hello",name," Good Morning")

In [ ]:
wish("Shriniwas")

Hello Shriniwas  Good Morning

In [ ]:
# Eg: Write a function to take number as input and print its square value
def squareIt(number):
  print(number*number)

In [ ]:
squareIt(5)

25

#  Return Statement:
  Function can take input values as parameters and executes business logic, and returns
 output to the caller with return statement.

  Q) Write a Function to accept 2 Numbers as Input and
  return Sum

In [ ]:
def add(x,y):
    return x+y

In [ ]:
add(6,7)

13

In [ ]:
add(5,5)

10

In [ ]:
 """Q) Write a Function to check whether the given Number is
  Even OR Odd?"""

def even_odd(num):
   if num%2==0:
     print(num,"is Even Number")
   else:
     print(num,"is Odd Number")

In [ ]:
even_odd(5)

5 is Odd Number

In [ ]:
"Q) Write a Function to find Factorial of given Number?"

def fact(num):
    result=1
    while num>=1:
      result=result*num
      num=num-1
    return result

In [ ]:
for i in range(1,5):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 1 is : 1
The Factorial of 2 is : 2
The Factorial of 3 is : 6
The Factorial of 4 is : 24

# Returning Multiple Values from a Function:

In [ ]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub

In [ ]:
x,y=sum_sub(100,50)
print("The Sum is:",x)
print("The Subtraction is:",y)

The Sum is: 150
The Subtraction is: 50

In [ ]:
sum_sub(100,50)

(150, 50)

# Types of Arguments

 def f1(a,b):

  

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

 There are 4 types are actual arguments are allowed in Python.

1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable length arguments

## 1. Positional Arguments

 These are the arguments passed to function in correct positional order.

 def sub(a, b):

 print(a-b)

 sub(100, 200) 
 
 sub(200, 100)
 
 The number of arguments and position of arguments must be matched. If we change
 the order then result may be changed.

## 2. Keyword Arguments:

We can pass argument values by keyword i.e by parameter name.

In [ ]:
def wish(name,msg):
    print("Hello",name,msg)

In [ ]:
wish(name="Yogesh",msg="Good Morning")

Hello Yogesh GoodMorning

In [ ]:
#position changed. Still working
wish(msg="Good Morning",name="Akash")

Hello Akash Good Morning

# 3. Default Arguments:

Sometimes we can provide default values for our positional arguments.

In [ ]:
def wish(name="Guest"):
    print("Hello",name,"Good Morning")

In [ ]:
wish("Satish")

Hello Satish Good Morning

In [ ]:
wish()

Hello Guest Good Morning

## 4. Variable Length Arguments:

Sometimes we can pass variable number of arguments to our function, such type of
arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [ ]:
def sum(*n):
    total=0
    for n1 in n:
      total=total+n1
    print("The Sum=",total)

In [ ]:
sum()

The Sum= 0

In [ ]:
sum(10)

The Sum= 10

In [ ]:
sum(10,20)

The Sum= 30

In [ ]:
sum(10,20,30,40)

The Sum= 100

In [ ]:
# We can mix variable length arguments with positional arguments.

def f1(n1,*s):
    print(n1)
    for s1 in s:
      print(s1)

In [ ]:
f1(10)

10

In [ ]:
f1(10,20,30,40)

10
20
30
40

In [ ]:
f1(10,"A",30,"B")

10
A
30
B

 Note: After variable length argument,if we are taking any other arguments then we
  should provide values as keyword arguments.

In [ ]:
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("A","B",n1=10)

A
B
10

### Note: We can declare key word variable length arguments also.

 We can call this function by passing any number of keyword arguments. Internally
 these keyword arguments will be stored inside a dictionary.

In [ ]:
def display(**kwargs):
    for k,v in kwargs.items():
       print(k,"=",v)

In [ ]:
display(n1=10,n2=20,n3=30)

n1 = 10
n2 = 20
n3 = 30

In [ ]:
display(rno=100,name="Vinayak",marks=70,subject="Java")

rno = 100
name = Vinayak
marks = 70
subject = Java

 ### Note: Function vs Module vs Library
  A group of lines with some name is called a function

 A group of functions saved to a file, is called Module
 
 A group of Modules is nothing but Library

#  Types of Variables
  Python supports 2 types of variables.
1. Global Variables
2. Local Variables

In [ ]:
a=10 # global variable(defined outside the function)
def f1():
   print(a)

def f2():
    print(a)

f1()
f2()

10
10

2. Local Variables:

  The variables which are declared inside a function are called local variables.

 Local variables are available only for the function in which we declared it.

In [ ]:
def f1():
    a=10
    print(a) # valid

In [ ]:
f1()

10

In [ ]:
# We didn't
def f22():
    print(b) #invalid

f22()

NameError: ignored

In [ ]:
"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function as follows"""

a = 10#Global Variable
def f1():
    a=777 # Local Variable
    print(a)
    print(globals()['a'])
f1()

777
10

#  Recursive Function:

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:
1. 
We can reduce length of the code and improves readability.
2. We can solve complex problems very easily.

E.g.

 factorial(3) = 3 * factorial(2)

 = 3 * 2 * factorial(1)

 =3*2*1*factorial(0)

 =3*2*1*1

 =6

 factorial(n) = n * factorial(n-1)

In [ ]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result
print("Factorial of 4 is:",factorial(4))
print("Factorial of 5 is:",factorial(5))

Factorial of 4 is: 24
Factorial of 5 is: 120

# Anonymous Functions:(Lambda Function)

Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.

The main purpose of anonymous function is just for instant use(i.e for one time usage)

We can define by using lambda keyword

lambda n:n*n

SyntaxoflambdaFunction:lambda argument_list:expression

 Note: By using Lambda Functions we can write very concise code so that readability of the program will be improved.

In [ ]:
 '''Q) Write a Program to create a Lambda Function to find Square of
  given Number?'''

s= lambda n: n*n
print("The Square of 4 is:",s(4))
print("The Square of 5 is:",s(5))

The Square of 4 is: 16
The Square of 5 is: 25

In [ ]:
'''Q) Lambda Function to find Sum of 2 given Numbers'''
s=lambda a,b:a+b
print("The Sum  of 10,20 is:",s(10,20))
print("The Sum of 100,200 is:",s(100,200))

The Sum  of 10,20 is: 30
The Sum of 100,200 is: 300

In [ ]:
'''Q) Lambda Function to find biggest of given Values'''
s=lambda a,b: a if a>b else b
print("The Biggest of 10,20 is:",s(10,20))
print("The Biggest of 100,200is:",s(100,200))

The Biggest of 10,20 is: 20
The Biggest of 100,200is: 200

Note: Lambda Function internally returns expression value and we are not required to
  write return statement explicitly.

  We can use lambda functions very commonly with filter(), map() and reduce() functions,
 because these functions expect function as argument.

# filter() Function:

 We can use filter() function to filter values from the given sequence based on some
 condition.

 **syntax: filter(function,sequence)**

  Where Function Argument is responsible to perform conditional check Sequence can be
 List OR Tuple OR String.

In [ ]:
 """Q) Program to filter only Even Numbers from the List by using
  filter() Function?"""
# Without Lambda Function:
def isEven(x):
    if x%2==0:
       return True
    else:
       return False
l=[0,5,10,15,20,25,30]
l1=list(filter(isEven,l))
print(l1) #[0,10,20,30]

[0, 10, 20, 30]

In [ ]:
# With Lambda Function: Getting odd and even numbers

l=[0,5,10,15,20,25,30]
l1=list(filter(lambda x:x%2==0,l))
print(l1) #[0,10,20,30]
l2=list(filter(lambda x:x%2!=0,l))
print(l2)#[5,15,25]

[0, 10, 20, 30]
[5, 15, 25]

#  map() Function:

 For every element present in the given sequence,apply some functionality and
 generate new element with the required modification. For this requirement we
 should go for map() function.

  Eg: For every element present in the list perform double and generate new list of
 doubles.

 **Syntax: map(function, sequence)**

 The function can be applied on each element of sequence and generates new sequence.

In [ ]:
# Without Lambda
l=[1,2,3,4,5]
def doubleIt(x):
    return 2*x
l1=list(map(doubleIt,l))
print(l1)#[2,4,6,8,10]

[2, 4, 6, 8, 10]

In [ ]:
# With Lambda
l=[1,2,3,4,5]
l1=list(map(lambda x:2*x,l))
print(l1) #[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

 ## Homework 
 
 Q. Find the square of given number in list using map and lambda function.

l=[1004, 5, 987,5674]

# reduce() Function:

reduce() function reduces sequence of elements into a single element by applying the
specified function. 

**syntax: reduce(function,sequence)**

reduce() function present in functools module and hence we should write import
statement

In [ ]:
from functools import*
l=[10,20,30,40,50]
result=reduce(lambda x,y:x+y,l)
print(result)#150

150

In [ ]:
result=reduce(lambda x,y:x*y,l)
print(result) #12000000

12000000

# Function Aliasing:
For the existing function we can give another name, which is nothing but function aliasing.

In [ ]:
def wish(name):
    print("Good Morning:",name)
greeting=wish
print(id(wish))
print(id(greeting))

greeting('Akash')
wish('Akash')

'''In the above example only one function is available 
but we can call that function by using either wish name or greeting name.'''

139669130925408
139669130925408
Good Morning: Akash
Good Morning: Akash