<a href="https://colab.research.google.com/github/sambhajizambre/python-basic/blob/main/8_Python_Basics_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET - Data Structure

1. If we want to represent a group of unique values as a single entity then we should go
for set.
2. Duplicates are not allowed.
3. Insertion order is not preserved.But we can sort the elements.
4. Indexing and slicing not allowed for the set.
5. Heterogeneous elements are allowed.
6. Set objects are mutable i.e once we creates set object we can perform any changes in
that object based on our requirement.
7. We can represent set elements within curly braces and with comma seperation
8. We can apply mathematical operations like union, intersection, difference etc on set
objects.

In [ ]:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [ ]:
#We can create set objects by using set() Function s = set(any sequence)
l=[10,20,30,40,10,20,10]
s=set(l)
print(s)#{40,10,20,30}

{40, 10, 20, 30}

In [ ]:
s=set(range(5))
print(s)#{0,1,2,3,4}

{0, 1, 2, 3, 4}

# Important Functions of Set:

In [ ]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
print(s)#{40,10,20,30}

{40, 10, 20, 30}

In [ ]:
# 2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

Q) What is the difference between add() and update()
Functions in Set?

We can use add() to add individual item to the Set,where as we can use update()
function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments.

In [ ]:
#3. copy(): returns copy of the set(cloning)
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [ ]:
#4. pop(): It removes and returns some random element from the set
s={40,10,30,20}
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

In [ ]:
#5. remove(x):removes specified item from the set
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

In [ ]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(30)
print(s)

{40, 10, 20}

In [ ]:
#7. clear(): to remove all the elements from the set
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

# **IMPORTANT CONCEPTS**

# Mathematical Operations on the Set:

In [ ]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))#{10,20,30,40,50,60}
print (x|y)#{10, 20, 30, 40, 50, 60}

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))#{40,30}
print(x&y)#{40, 30}

{40, 30}
{40, 30}

In [ ]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))#10, 20
print(x-y)#{10, 20}
print(y-x)#{50, 60}

{10, 20}
{10, 20}
{50, 60}

In [ ]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))#{10,50,20,60}
print(x^y)#{10, 50, 20, 60}

{10, 50, 20, 60}
{10, 50, 20, 60}

# Membership Operators: (in, not in)

In [ ]:
s=set("python")
print(s)
print('d'in s)
print('p'in s)

{'t', 'h', 'o', 'p', 'y', 'n'}
False
True

# Set Comprehension:

In [ ]:
#Set comprehension is possible.
s = {x*x for x in range(5)}
print(s)#{0,1,4,9,16}

{0, 1, 4, 9, 16}

# Set Objects won't support indexing and slicing:

In [ ]:
s={10,20,30,40}
print(s[0])# TypeError:'set'objectdoesnotsupportindexing
print(s[1:3])# TypeError: 'set' object is not subscriptable

TypeError: ignored

# Homework
 Q) Write a Program to eliminate Duplicates Present in the
  List?

Q) Write a Program to Print different Vowels Present in the
  given Word?(Using intersection method