<a href="https://colab.research.google.com/github/sambhajizambre/python-basic/blob/main/pandas7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/drive/MyDrive/python/project python.csv")
print(data)

   customer ID           brand        Date  Brand count  percentage cutoff
0            1          adidas  01/01/2021            3                NaN
1            1            polo  01/01/2021            1                NaN
2            2           levis  02/01/2021            2                NaN
3            2  tomy hilfigure  02/01/2021            1                NaN
4            2            nike  03/01/2021            4                NaN
5            2            puma  03/01/2021            4                NaN

In [7]:
data.info

<bound method DataFrame.info of    customer ID           brand        Date  Brand count  percentage cutoff
0            1          adidas  01/01/2021            3                NaN
1            1            polo  01/01/2021            1                NaN
2            2           levis  02/01/2021            2                NaN
3            2  tomy hilfigure  02/01/2021            1                NaN
4            2            nike  03/01/2021            4                NaN
5            2            puma  03/01/2021            4                NaN>

In [8]:
data.describe

<bound method NDFrame.describe of    customer ID           brand        Date  Brand count  percentage cutoff
0            1          adidas  01/01/2021            3                NaN
1            1            polo  01/01/2021            1                NaN
2            2           levis  02/01/2021            2                NaN
3            2  tomy hilfigure  02/01/2021            1                NaN
4            2            nike  03/01/2021            4                NaN
5            2            puma  03/01/2021            4                NaN>